<routes xmlns="http://ns.dscape.org/2010/routes">
  <root> server#version </root>
  <head path="/"> server#ping </head>
  <match path="/_uuids"> <to> server#uuids </to> </match>
  <match path="/_all_dbs"> <to> server#all_dbs </to> </match>
  <match path="/_all_forests"> <to> server#all_forests </to> </match>
  <match path="/_download">
    <redirect-to> http://developer.marklogic.com/products </redirect-to>
  </match>
  <match path="/:controller/:action/:id"/>
</routes>
