<routes xmlns="http://ns.dscape.org/2010/routes">
  <root> version#get </root>
  (: just some test while developing dxc in paralel :)
  (: please delete bellow :)
  <match path="/_version"> <to> version#get </to> </match>
  <match path="/_download">
    <redirect-to> http://developer.marklogic.com/products </redirect-to>
  </match>
  <match path="/:controller/:action/:id"/>
</routes>
